<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mitask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/HomeTheme">
        <activity android:name=".Ui.SettingActivity"></activity>
        <activity
            android:name=".Ui.NoteActivity"
            android:parentActivityName=".Ui.MainActivity"></activity>

        <activity
            android:name=".Ui.MainActivity"
            android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>

    </application>

</manifest>